* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #e2e7ef;;
}

#wrapper {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#viz {
	background-color: white;
	border: 2px solid #222;
	border-radius: 14px;
	width: 100%;
	box-shadow: 8px 8px 0px #a3aab7;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5em;
	font-weight: 600;
	margin-top: 16px;
	margin-bottom: -2px;
	color: #222;
}

line.header {
	stroke: #222;
	stroke-width: 2px;
}

.labelsRounds {
	text-transform: uppercase;
    font-size: .65em;
    font-weight: 500;
    letter-spacing: 1px;
}

text.teamName {
	font-size: 17px;
	font-family: 'Poppins';
	font-weight: 300;
	fill: #333;
}